

__pycache__/

saved_model/
results/
result/

device_path.yaml
settings.yaml

configs/device_path.yaml
configs/settings.yaml


.idea/
.spyderproject/
.spyproject/



**/__pycache__/
**/saved_model/
**/.idea/
**/.spyderproject/
**/.spyproject/

project.sif
*.sif
*.swp
*.swo
